.header-menu{
    grid-column: 3 / 5;
    background: #FB5;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header-menu ul{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.header-menu li a{
    display: block;
    padding: 10px;
    margin-right: 10px;
    color: #222;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.1rem
}

@media(max-width: 700px){

    .header-menu{
        grid-column: 1;
        margin-top: 0px;
    }
    
}